@import 'tailwindcss';

@theme {
	--color-primary: #ffffff;
	--color-secondary: #fbfbfb;
	--color-tertiary: #ededed;
	--color-accent: #f53b57;
	--color-accent-hover: #9e182f;
	--color-text: #1a1c1c;
	--color-tailwindcss: #06b6d4;
	--color-javascript: #ffc107;
	--color-astro: #bc52ee;
	--color-typescript: #3178c6;
	--color-line-lateral: #b6b6b6;
	--color-text-secondary: #1a1c1c;

	/* Colors dark */
	--color-text-dark: #fff;
	--color-text-secondary-dark: #b2bcbc;
	--color-primary-dark: #1a1c1c;
	--color-secondary-dark: #2b2e2e;
	--color-tertiary-dark: #3e4141;
	--color-javascript-dark: #f7df1e;
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
	--color-primary: var(--color-primary-dark);
	--color-secondary: var(--color-secondary-dark);
	--color-tertiary: var(--color-tertiary-dark);
	--color-text: var(--color-text-dark);
	--color-text-secondary: var(--color-text-secondary-dark);
	--color-javascript: var(--color-javascript-dark);
}

html,
body {
	text-wrap: pretty;
	scroll-behavior: smooth;
	font-family: 'Poppins', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
	font-size-adjust: 0.56;
	background-color: var(--color-primary);
	color: var(--color-text);
}

:is(h1, h2, h3, h4, h5, h6) {
	text-wrap: balance;
}

#btn-principal {
	box-shadow: 0px 2px 0px #f53b57;
}

#btn-principal::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f8a4aa;
	/* background: linear-gradient(135deg, #f8a4aa 0%, #f53b57 100%); */
	box-shadow: 0px 2px 0px #f8a4aa;
	border-radius: 40px;
	transform: translateZ(-16px);
	transform-style: preserve-3d;
	z-index: -1;
	filter: blur(1px);
}

/* Capa de profundidad - fondo oscuro */
#btn-principal::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fbd1d4;
	/* background: linear-gradient(135deg, #fbd1d4 0%, #fdedee 100%); */
	box-shadow: 0px 2px 0px #fdedee;
	border-radius: 40px;
	transform: translateZ(-32px);
	transform-style: preserve-3d;
	z-index: -2;
	filter: blur(1px);
}

/* Animation FadeIn */
.element {
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out forwards;
	animation-delay: var(--delay);
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*  */
.char-wrapper {
	position: relative;
	display: inline-flex;
	overflow: hidden;
}

.char-next {
	position: absolute !important;
	left: 0;
	top: 0;
	will-change: transform;
}

.char-next {
	top: 100%;
}

/*  */
.dark .icon-moon {
	opacity: 0;
	transform: translateX(15px) scale(0);
}

.dark .icon-sun {
	opacity: 1;
	transform: translateX(0) scale(1);
}

.icon-sun {
	position: absolute;
	opacity: 0;
	transform: translateX(-15px) scale(0);
}

/* Hover project */
.project .patter {
	animation: diagonalSlide 3s linear infinite;
	animation-play-state: paused;
}

.project:hover .patter {
	animation-play-state: running;
}

@keyframes diagonalSlide {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-24px, -24px);
	}
}
