@import 'tailwindcss';

@theme {
	--color-primary: #ffffff;
	--color-secondary: #f0f0f0;
	--color-tertiary: #e0e0e0;
	--color-accent: #f53b57;
	--color-accent-hover: #9e182f;
	--color-dark: #181919;
	--color-tailwindcss: #06b6d4;
	--color-javascript: #f7df1e;
	--color-astro: #bc52ee;
}

@theme dark {
	--color-primary: #1a1c1c;
	--color-secondary: #202222;
	--color-tertiary: #2b2e2e;
	--color-text: #fff;
	--color-text-secondary: #b6b6b6;
}

html,
body {
	font-family: 'Poppins', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
	text-wrap: pretty;
	scroll-behavior: smooth;
	font-family: 'Poppins', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
	font-size-adjust: 0.56;
	background-color: var(--color-primary);
	color: var(--color-text);
}

:is(h1, h2, h3, h4, h5, h6) {
	text-wrap: balance;
}

/* Scrollbar styles */
::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 10px;
	border: 4px solid #fff;
	border-color: var(--color-secondary);
	background-color: #fff;
}

::-webkit-scrollbar-thumb:hover {
	/* background: var(--color-secondary); */
	background-color: var(--color-text-secondary);
}
