@import 'tailwindcss';
@import 'tailwind-animations';

@theme {
	/*text*/
	--aztec-50: #ecf2f2;
	--aztec-100: #d2dddd;
	--aztec-200: #b2bcbc;
	--aztec-300: #979f9f;
	--aztec-400: #7e8585;
	--aztec-500: #676d6d;
	--aztec-600: #525656;
	--aztec-700: #3e4141;
	--aztec-800: #2b2e2e;
	--aztec-900: #1a1c1c;

	/*accent*/
	--amaranth-50: #fdedee;
	--amaranth-100: #f79099;
	--amaranth-300: #f53b57;
	--amaranth-500: #770f22;
	--amaranth-700: #2a0206;

	--color-primary: var(--aztec-50);
	--color-secondary: var(--aztec-100);
	--color-tertiary: var(--aztec-200);
	--color-accent: var(--amaranth-300);
	--color-accent-hover: var(--amaranth-500);
	--color-text: var(--aztec-900);
	--color-line-lateral: var(--aztec-300);
	--color-text-secondary: var(--aztec-500);
	--color-border-lateral: var(--aztec-200);

	--color-tailwindcss: #06b6d4;
	--color-javascript: #ffc107;
	--color-astro: #bc52ee;
	--color-supabase: #3fcf8e;
	--color-gsap: #0ae448;
	--color-vercel: #000;
	--color-typescript: #3178c6;
	--color-react: #61dafb;
	--color-zustand: #ff7f50;
	--color-zod: #408aff;

	/* Colors dark */
	--color-text-dark: var(--aztec-50);
	--color-text-secondary-dark: var(--aztec-200);
	--color-primary-dark: var(--aztec-900);
	--color-secondary-dark: var(--aztec-800);
	--color-tertiary-dark: var(--aztec-700);
	--color-javascript-dark: #f7df1e;
	--color-border-lateral-dark: var(--aztec-800);
}

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
	text-wrap: pretty;
	scroll-behavior: smooth;
	font-family: 'Poppins', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
	font-size-adjust: 0.56;
	background-color: var(--color-primary);
	color: var(--color-text);
}

:is(h1, h2, h3, h4, h5, h6) {
	text-wrap: balance;
}

/*  */
.char-wrapper {
	position: relative;
	display: inline-flex;
	overflow: hidden;
}

.char-next {
	position: absolute !important;
	left: 0;
	top: 0;
	will-change: transform;
}

.char-next {
	top: 100%;
}

/*  */
.dark .icon-moon {
	opacity: 0;
	transform: translateX(15px) scale(0);
}

.dark .icon-sun {
	opacity: 1;
	transform: translateX(0) scale(1);
}

.icon-sun {
	position: absolute;
	opacity: 0;
	transform: translateX(-15px) scale(0);
}

/* Hover project */
.project .patter {
	animation: diagonalSlide 3s linear infinite;
	animation-play-state: paused;
}

.project:hover .patter {
	animation-play-state: running;
}

@keyframes diagonalSlide {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-24px, -24px);
	}
}
