---
import Layout from '@/layouts/Layout.astro';
import Button from '@/components/Button.astro';
import IconHouse from '@/assets/icons/IconHouse.astro';
---

<Layout>
	<section class="flex items-center justify-center bg-primary p-3 min-h-dvh">
		<div class="section text-center">
			<h1 class="text-4xl font-bold text-text title-main"><span class="block relative c404 text-9xl">404</span> P치gina no encontrada</h1>
			<p class="text-text my-6 lg:my-10 text-lg max-w-xl">Lo siento, el recurso que buscas no existe. Pero puedes volver a la p치gina principal.</p>
			<Button href="/" className="w-fit mx-auto" variants="accent" size="md" attr={{ title: 'Ir a la p치gina principal', id: 'btn-principal' }}>
				<IconHouse width={16} height={16} />
				P치gina principal
			</Button>
		</div>
	</section>
</Layout>

<style>
	.c404::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		background: linear-gradient(to top, var(--color-primary) 20%, rgba(255, 0, 0, 0) 100%);
	}
</style>
